/*
 * jQuery FlexSlider v1.8
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {width: 100%; margin: 0; padding: 0;}
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {background: #fff; position: relative; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

/* Caption style */
/* IE rgba() hack */
.flex-caption {width: 37%; position: absolute; left: 20px; bottom: 20px; font-size: 13px; padding: 27px 26px; opacity:0.8; filter:alpha(opacity=80); }

/* Direction Nav */
.fullwidth .flex-direction-nav{ display: none; }
.flex-direction-nav li a {width: 38px; height: 38px; margin: -19px 0 0; display: block; background: url(./images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav li .next {background-position: -38px 0; right: 20px;}
.flex-direction-nav li .prev {left: 20px;}
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav { position: absolute; right: 0px; bottom: -14px; text-align: center;}
.flex-control-nav li {margin: 0 0 0 2px; display: block; float: left; zoom: 1; }
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 57px; padding-top: 5px; padding-bottom: 2px; display: block; cursor: pointer; }
.flex-control-nav li a span{ height:4px; display: block; text-indent: -9999px; }
.flex-control-nav li a:hover {  }
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default; }



.flex-caption.gdl-slider-caption {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 3px black;
  display: block;
  float: left;
  height: auto;
  left: 3%;
  padding: 0 0 3px;
  top: -20px;
  width: 300px;
}

.flex-control-nav {
    bottom: -14px;
    position: absolute;
    right: 0;
    text-align: center;
}

.slides, .flex-control-nav, .flex-direction-nav {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.flexslider .slides img {
    display: block;
    max-width: 100%;
    width: 100%;
}

.flex-direction-nav li .prev {
    height: 50px;
    left: -15px;
    width: 50px;
}

.flex-direction-nav li .next {
    background-position: -54px 0;
    height: 50px;
    right: -15px;
    width: 50px;
}

div.gdl-slider-title {
    font-size: 26px;
    line-height: 30px;
    margin-left: -2px;
    padding-bottom: 14px;
}

div.slider-title-bar {
    border-bottom: 1px solid #8E8E8E;
    margin-bottom: 14px;
    width: 16px;
}

